
#cadre_live{
  border:double; 
  border-color: #928c8c; 
  width:500px;
  height:300px;
  
  }
  

.cam .row{
  margin-top:20px !important;
  }
#select{
  /* margin-top:4px ; */
  border-radius : 20px;
  background-color: rgb(135, 138, 141);
  color:#e0ecf7;
  border-color:#e0ecf7;
}
#text{
  
  background-color: #f4f753 !important;
  color:white;
  border-radius: 20px;
  Text-align:center;

}
.form-control{
  margin-top: 35px;
  background-color: #6db4d4 !important;
}

