.voirPhoto .images{
    width:5px;
    }

.voirPhoto #imgModalLabel{
  color : black !important ;
}

.voirPhoto .gallerie{
  color :#457eaf;
}

a:link{
  color: white;
}




@media only screen and (max-width: 576px) {


    .voirPhoto i img{
        width: 10rem !important;        
    }
    
    .voirPhoto .hovereffect i.info {
        font-size: 2rem !important;
    }

    .voirPhoto .photo{
        text-align: center;
        font-size: medium;
    }

    .voirPhoto .imgModal{
      width: 100% !important;
      padding: 1rem !important;
    }

    .voirPhoto .modal-title{
       font-size: medium;
    }

    .photo{
      font-size: large;
    }
    
}


@media (min-width: 576px) and (max-width: 991px) {


    .voirPhoto i img{
        width: 1.5rem !important;
    }
    
    .voirPhoto .images{
        width:20px;
    }

    .voirPhoto .photo{
        text-align: center;
    }

    .voirPhoto .imgModal{
      width: 100% !important;
      padding: 1rem !important;
    }

    .voirPhoto .gallerie{
       width: 60%;
       font-size:x-large;
    }

    .voirPhoto .photo{
      text-align: center;
      font-size:1.5rem !important;
    }
    .photo{
      font-size: large;
    }

}


@media (min-width: 992px) and (max-width: 1199px) {


    .voirPhoto i img{
        width: 2rem !important;
    }
    
    .voirPhoto .images{
        width:20px;
    }

    .voirPhoto .imgModal{
      width: 100% !important;
    }

    .voirPhoto .gallerie{
      width: 70%;
    }
    .photo{
      font-size: large;
    }
}
@media only screen and (min-width: 1200px) {
    
  .voirPhoto .imgModal{
    width: 100% !important;
  }

   .voirPhoto .gallerie{
    width: 70%;
  }

  .voirPhoto .photo{
    text-align: center;
    font-size: 0.8rem;
  }
  .photo{
    font-size: large;
  }

}

.voirPhoto .hovereffect {
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }

.voirPhoto .hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.voirPhoto .hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.voirPhoto .hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}



.voirPhoto .hovereffect i.info {
  display: inline-block;
  text-decoration: none;
  margin: 0rem;
  height: 4rem;
  background-color: transparent;
  font-size: 250%;
}



.voirPhoto .hovereffect i.info,.voirPhoto .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.voirPhoto .hovereffect:hover i.info,.voirPhoto .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.voirPhoto .overlay{
    height: 100%;
}
