:root {
    --color1 : #B2DFDB ;
    --color2 : #F8BBD0 ;
    --color3 : #BBDEFB ;
    --writing : #BDBDBD;
    --camera-allow : #90E093 ;
    --camera-refuse : #FF6060 ;
    --writing : #686868 ;
    --empty-color : #BDBDBD ;
    --error : red ;
    --error-border : #ff6060 ;
    --frame-choice-color:#5c5c5c;
    --principal-color:#457eaf;
    --principal-color-hover:#3a6a94;
    --add-user:rgb(144, 224, 147);
    --add-user-hover: #358539 ;
    --add-user-active: #246927 ;
    --border:#959494;
    --text-loading:#F8F9FA;
    --notification-on:#ffd150;
    --notification-off:#686868;
    --close-button:#777c85 ; /*ou #969697*/
    --close-button-hover:#62666d ; 
}
body {
    color: var(--writing) ;
}


/*Banner description of the page*/
#desription-page {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    /* color:var(--principal-color); */
}
#title-description{
    text-align: center;
    font-size: 2.3rem;
    /* color:var(--principal-color); */
}
#description{
    text-align: center;
    font-size: 0.7rem;
    /* color:var(--principal-color); */
}
/**/


/*Frame grade*/
.name-grade{
    font-size:175%;
}
.icon-person {
    /* font-size: 311%; */
    color:white;
    font-size:350%;
}
.bg-person {
    text-align: center;
}
.layout-nbr-camera {
    font-size:97%;
    margin:0px;
    text-align:left;
}
.allowed-camera {
    color:var(--camera-allow);
}
.refused-camera {
    color:var(--camera-refuse);
}
/**/


/*Modal details cameras*/
#gradeModal .modal-body {
    padding:0rem!important;
    /* padding: 1rem 5rem 1rem 5rem; */
}
#gradeModal .m-2 {
    margin : 0.5rem 0.5rem 0.3rem 0.5rem!important;
}
.bg-notification {
    text-align: center;
    padding: 0px;
}
.icon-notification {
    font-size:100%;
}
.modal-button {
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}
.title-modify .modal-title {
    color:white;
    text-align:center;
}
.bouton-close {
    background-color:var(--close-button);
    color:white;
}
.bouton-close:hover {
    background-color:var(--close-button-hover);
    color:white;
}
.bouton-action{
    background-color:var(--principal-color);
    color:white;
}
.bouton-action:hover {
    background-color:var(--principal-color-hover);
    color:white;
}
.layout-actions-cameras {
    margin: 0.3rem!important;
}
.layout-legend {
    font-size: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
}
/**/

.switch-camera-grade .form-switch .form-check-input:hover {
    cursor:pointer;
}
/*Creation of a grade*/
#layout-add {
    margin-bottom: 1rem;
    margin-top:1rem;
}
.add-user {
    color:var(--add-user);
    font-size:280%;
}
.add-user:hover {
    color: var(--add-user-hover);
}
.add-user:active {
    color: var(--add-user-active);
}


#name-grade-label {
    padding: 0px 5px 0px 5px!important;
}
#name-grade {
    padding: 3px 10.125px 3px 10.125px!important;
}
#color-grade-label {
    padding: 0px 5px 0px 5px!important;
}
#frame-colors {
    margin: 0px 5px 11px 5px!important;
    /* background-color:white; */
}
.frame-grade-label {
    border-bottom: 1px solid var(--border);
    padding: 0px 0px 7px 0px!important;
}

#frame-name-grade-input {
    margin-top: 0.75rem!important;
}
#empty:before{
    border-radius: 7px;
}
#addGradeModalLabel{
    text-align:center;
}
.chrome-picker {
    position:fixed!important;
}
/* .square-selection:before{
    border: 1px solid grey;
    border-radius: 4px;
} */
/**/


/*Modication of camera's action*/
.hidden-btn {
    display:none;
}
#modifyGradeModalLabel {
    text-align: center;
    color:white;
}
.form-check-input:checked {
    background-color: var(--camera-allow);
    border-color: var(--camera-allow);
}
.form-switch .form-check-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-input {
    background-color: var(--camera-refuse);
    border: none;
}
/* .form-check-input:active {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
} */
.bi-bell-fill {
    color:var(--notification-on) ;
}
.bi-bell-slash-fill {
    color:var(--notification-off) ;
}
.bouton-warning{
    background-color: #f44336 ;
    color:white;
}
.bouton-warning:hover {
    background-color:#d83e33;
    color:white;
}

/**/


/*Messages d'erreur*/
.errorMessage {
    color:var(--error) ;
    font-size: 0.6rem;
}
#error-color {
    padding: 0.3rem 0rem 0rem 1.5rem!important;
}
#error-name {
    padding: 0.3rem 0rem 0rem 1.1rem!important;
}
#icon-cancel{
    color:#f44336; 
    font-size: 465%;
}
.layout-modal-cancel{
    text-align:center;
    margin:0px;
}
/**/

#frame-name-grade-input .form-control {
    background-color: white;
}

/*??*/
/* #title-page {
    margin: 3rem 0rem 2rem 5rem;
    font-size: 1.5rem;
} */
/* .big-layout-grade {
    margin: 0px 0px 10px 0px;
} */
/* #big-layout-add {
    margin: 0px 0px 60px 0px;
} */

/* .camera-allowed {
    font-size: 1.2rem;
    color:#90e093;
} */

/* .camera-refused {
    font-size: 1.2rem;
    color:#ff6060;
} */


/*Design global (scrolbar)*/
::-webkit-scrollbar {
	width: 6px; 
}
::-webkit-scrollbar-thumb {
	background: #b1acaa; 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { 
	background: #696969;
}
::-webkit-scrollbar-thumb:active {
	background: #2A2A2A;
}
html::-webkit-scrollbar:horizontal { display: none; width: 0; height: 0; }
html body::-webkit-scrollbar:horizontal { display: none; width: 0; height: 0; }
/**/


/*Responsive*/
@media only screen and (max-width: 1250px) {
    .name-grade {font-size: 159%;}
}

@media only screen and (max-width: 992px) {
    .modal-body {padding: 0rem;}
    .layout-legend {padding: 0.5rem 0rem 0.3rem 0.1rem;}
}

@media only screen and (max-width: 767px) {
    .informations{font-size: 84%;}
    .name-grade{font-size: 150%;}
    #error-color{margin: 0rem 0rem 0.5rem 0rem;}
}
@media only screen and (max-width: 650px) {
    .name-grade {font-size: 133%;}
}
@media only screen and (max-width: 635px) {
   .icon-person {font-size: 311%;}
}

@media only screen and (max-width: 576px) {
    #title-description{font-size: 1.8rem;}
    #description{font-size: 0.6rem;}
    #desription-page{padding-bottom: 1rem;}
    .icon-person {font-size: 350%;}
    .name-grade {margin: 0.4rem 0rem 0.2rem 0rem;
        padding: 0rem 0rem 0rem 0.2rem;}
    #addGradeModalLabel {font-size: 1rem;}
    .modal-header{padding:0.3rem 0.3rem;}
    #name-grade-label{font-size:0.8rem}
    #color-grade-label{font-size:0.8rem}
    .final-color{font-size: 154%;}
    .container-final-color{padding: 0rem 0rem 0rem 0.3rem;}
    .container-choosing-color{padding: 0rem 1rem 0rem 0.3rem;}
    .modal-button{font-size: 0.8rem;}
    .card-grade{margin-bottom: 0.2rem;}
    .layout-legend { padding: 0.2rem 0rem 0.3rem 0.3rem;}
}

@media only screen and (max-width: 550px) {
    #icon-cancel{font-size: 365%;}
    .layout-modal-cancel h4 {font-size: 1.2rem;}
    .layout-modal-cancel p {font-size: 0.8rem;}
}

@media only screen and (max-width: 420px) {
    .informations {font-size: 75%;}
    .name-grade{font-size: 118%;}
    .icon-person {font-size: 293%;}
    .add-user {font-size: 230%;}
    #layout-add {margin-bottom: 0.7rem;
        margin-top: 0.3rem;}
    #gradeModal .m-2 {margin: 0.3rem 0.5rem 0.3rem 0.5rem!important;}
    .name-camera-grade{font-size: 0.8rem;}
    .modal-button{font-size: 0.8rem;}
    .layout-legend{font-size: 0.6rem;}
}

@media only screen and (max-width: 380px) {
    .layout-modal-cancel {padding:0px}
    .switch-camera-grade {padding: 0px;}
    .name-camera-grade {font-size: 0.7rem;}
}

@media only screen and (max-width: 350px) {
    .informations {font-size: 64%;}
    .name-grade{font-size: 100%;}
    .input-switch{width:1.8rem!important;}
    #modifyGradeModal .bi {font-size: 0.8rem;}
    #gradeModal .modal-footer{padding: 0rem 1.2rem 0rem 0.75rem;}
    .modal-button {padding: 0.2rem 0.75rem 0.2rem 0.75rem;
        margin: 0.25rem 0.75rem 0.1rem 0.75rem;}
    .layout-legend {font-size: 0.54rem;}
}
/**/


.draggable-element:active {
    cursor: grabbing;
    box-shadow: 0 0 1rem #666!important;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}



.visible {
    visibility: visible;
    opacity: 1;
    left: 0rem;
    transition: opacity 0.3s cubic-bezier(0.1,0.1,0.25,1) 0.1s, left 0.3s cubic-bezier(0.1,0.1,0.25,1) 0.1s, visibility 0.3s cubic-bezier(0.1,0.1,0.25,1) 0.1s;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    left: 3rem;
    transition: opacity 0.6s cubic-bezier(0.1,0.1,0.25,1) 0.2s, left 0.6s cubic-bezier(0.1,0.1,0.25,1) 0.2s, visibility 0.6s cubic-bezier(0.1,0.1,0.25,1) 0.2s;
}

.actionsGrade {
    color:white;
    position: relative;
}


.gradeCard:hover{
    box-shadow: 0 0 0.2rem #b1b0b0!important;
}

.frameActions {
    text-align: center;
    width: 1.4rem;
    color:white!important;
}
.frameSee {
    background-color:#86bff1 ;
}
.frameModify{
    background-color: #e7dca8;
}
.frameDelete{
    background-color: #fb4040;
}

.seeIcon {
    font-size: 0.8rem;
    position: relative;
    top:-0.05rem;
}
.modifyIcon {
    font-size: 0.7rem;
    position: relative;
    top:-0.1rem;
}
.deleteIcon {
    font-size: 0.7rem;
    position: relative;
    top:-0.1rem;
}