:root {
    --color1 : #B2DFDB ;
    --color2 : #F8BBD0 ;
    --color3 : #BBDEFB ;
    --writing : #BDBDBD;
    --camera-allow : #90E093 ;
    --camera-refuse : #FF6060 ;
    --writing : #686868 ;
    --empty-color : #BDBDBD ;
    --error : red ;
}

body {
    color: var(--writing) ;
}
/* Cacher scrollbar horizontal */
html::-webkit-scrollbar:horizontal { display: none; width: 0; height: 0; }
html body::-webkit-scrollbar:horizontal { display: none; width: 0; height: 0; }


.add-user:hover {
    color: #358539;
}

::-webkit-scrollbar {
	width: 6px; 
}
::-webkit-scrollbar-thumb {
	background: #b1acaa; 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { 
	background: #696969;
}
::-webkit-scrollbar-thumb:active {
	background: #2A2A2A;
}

#staticBackdrop .modal-body {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 0px;
}

#staticBackdrop .m-2 {
    margin : 0.5rem 0.5rem 0.8rem 0.5rem!important;
}

#staticBackdrop .modal-header {
    border: 0 none;
}
button[editext='cancel-button']:hover {

      background: crimson;
      color: #fff;

}
  button[editext='save-button']:hover {
    
    background: rgb(12, 58, 8);
    color: #fff;
    box-sizing: 20px;
    
    

}
button[editext='save-button'] {
  margin-left: 10px;
  margin-bottom: 2px;
  border-radius: 30px;
    border: none;
background: none;
font-size: 25px;



}
button[editext='cancel-button'] {
  margin-left: 10px;
  margin-bottom: 2px;
  border-radius: 30px;
    border: none;
background: none;
font-size: 25px;

}
  
  div[editext='view-container'] {
    background: #ffffff;
    padding: 15px;

    border-radius: 5px;
    color: rgb(26, 13, 13);
  }
  button[editext='edit-button']{
    color: rgb(32, 4, 4);
    padding: 0;
    margin-right: 0;
    width: 50px;
    border: none;
    background: none;
    font-weight: bold;
    
  }

  
  input,
  textarea {
    /** or input[editext="input"] {} */
    background: #ffffff;
    color: #18140c;
    font-weight: bold;
    border-radius: 20px;

    border: 0 none;
    
  }
  input[editext="input"] {
    width: 50%;
    height: 20%;
    border: 0;
    /*border: 1px solid rgb(212, 212, 212);*/
    padding: 0.6em;
    outline: none;
}
img{
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.badge {
  position: absolute;

  padding: 2px 7px;
  border-radius: 50%;
  background: #1b1901;
  color: white;
}
.badge.nineplus {
  padding: 2px 7px;
}