

/* Small screens */
@media only screen and (max-width: 991px) {
  .navbar-main {
    
    background-color: #457eaf !important;
    
   
  }
  a.hoverNav:hover{
    color: #84CFEC !important;
  }
 
}

.nav-link{
  color : #fff !important;
}
/* Large screens */
@media (min-width: 991px) {

  .navbar-nav {
    display: flex;
    flex-direction: column !important;
  }
 


  :root {
    font-size: 27px;
    font-family: 'Open Sans';
    --text-primary: white;
    --text-secondary: #ececec;
    --bg-primary: #457eaf;
    --bg-secondary: #1e1e2c;
    
  }
  
  body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
  }
    
  .navbar-main {
    position: fixed;
    background-color: var(--bg-primary) !important;
    transition: width .6s;
    z-index: 1;
    top: 0;
    width: 6rem;
    height: 100%;
   
  }
  
  
 
  .navbar-main:hover {
    width: 14rem;
    transition: width .6s;
   
  }

  .navbar-main:hover .link-text {
    display:-webkit-inline-box;
  }  
  
  
  .link-text {
    display: none;
  }
  
  .container-fluid{
    padding: 0 !important;
    
  }
  .etirement{
    width: 14rem;
  }
  

  a.hoverNav:hover{
    color: #84CFEC !important;
  }
  
}
