

/* Small screens */
@media only screen and (max-width: 599px) {
  .navbar-main {
    
    background-color: #457eaf !important;
    
   
  }
 
 
}

.nav-link{
  color : #fff !important;
}
/* Large screens */
@media (min-width: 600px) {
  .navbar-main {
    top: 0;
    width: 6rem;
    height: 100%;
   
  }

  .navbar-main:hover {
    width: 14rem;
  }

  .navbar-main:hover .link-text {
    display: inline;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column !important;
  }
  .nav-link-main svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }


  :root {
    font-size: 27px;
    font-family: 'Open Sans';
    --text-primary: white;
    --text-secondary: #ececec;
    --bg-primary: #457eaf;
    --bg-secondary: #1e1e2c;
    --transition-speed: 600ms;
  }
  
  body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  
  
  .navbar-main {
    position: fixed;
    background-color: var(--bg-primary) !important;
    
    
    z-index: 1;
   
  }
  
 
  
  
  
  
  

  
  
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  
  
}
