.cadreBouton{
    background-color: #f5f5f5;
    margin-bottom:3%;
    border-radius:8px;
    color:rgb(107, 106, 105); 
}

.ON:hover{
    background-color: hsl(0, 0%, 59%);
    color:azure;
    cursor: pointer;
}

.cont {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    /* margin-top: 1rem;   */
}
.gene{
    margin-top: 1rem;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.tog{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-end !important;
    margin-top: 1rem; 
    float:right;
    /* margin-left:3rem; */
} 
.but{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-end !important;
    /* margin-top: 1rem;  */
    /* float:right; */
    /* margin-right:4rem;:margin-top: $$*/
} 
.oeil{
    cursor: pointer;
    
}


@media only screen and (min-width: 1200px) {
    .gene{
        width: 80%;
        margin-left:17%;
    }
    .logo_allow{
        margin-left:20px;
        margin-right: 10px;
    }
    .logo_disco{
        margin-left:20px;
        margin-right: 20px;
    }
    .logo_off{
        margin-left:20px;
        margin-right: 20px;
    }
    .nom_cam_allow{
        width: 13rem;
    }
    .nom_cam_off{
        width: 14rem;
    }
    .nom_cam_disco{
        width: 23.4rem;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    
    .gene{
        width: 80%;
        margin-left:16%;
    }
    .logo_allow{
        margin-left:20px;
        margin-right: 10px;
    }
    .logo_disco{
        margin-left:20px;
        margin-right: 20px;
    }
    .logo_off{
        margin-left:20px;
        margin-right: 20px;
    }
    .nom_cam_allow{
        width: 10rem;
    }
    .nom_cam_off{
        width: 11rem;
    }
    .nom_cam_disco{
        width: 7.8rem;
    }

}

@media (min-width: 768px) and (max-width: 992px) {
    .gene{
        width: 80%;
        margin-left:10%;
    }
    .logo_allow{
        margin-left:20px;
        margin-right: 10px;
    }
    .logo_disco{
        margin-left:20px;
        margin-right: 20px;
    }
    .logo_off{
        margin-left:20px;
        margin-right: 20px;
    }
    .nom_cam_allow{
        width: 10rem;
    }
    .nom_cam_off{
        width: 11rem;
    }
    .nom_cam_disco{
        width: 7rem;
    }

}

@media (min-width: 576px) and (max-width: 768px) {
    .gene{
        width: 90%;
        margin-left:8%;
    }
    .logo_allow{
        margin-left:20px;
        margin-right: 10px;
    }
    .logo_disco{
        margin-left:20px;
        margin-right: 20px;
    }
    .logo_off{
        margin-left:20px;
        margin-right: 20px;
    }
    .nom_cam_allow{
        width: 10rem;
    }
    .nom_cam_off{
        width: 10.6rem;
    }
    .nom_cam_disco{
        width: 7rem;
    }



}

@media (min-width: 500px) and (max-width: 576px) {
    .gene{
        width: 80%;
        margin-left:6%;
    }
    .logo_allow{
        margin-left:20px;
        margin-right: 10px;
    }
    .logo_disco{
        margin-left:20px;
        margin-right: 20px;
    }
    .logo_off{
        margin-left:20px;
        margin-right: 20px;
    }
    .nom_cam_allow{
        width: 10rem;
    }
    .nom_cam_off{
        width: 10rem;
        margin-right: 12px;

    }
    .nom_cam_disco{
        width: 7rem;
    }

}
@media  (min-width :400px ) and (max-width: 500px) {
    .gene{
        width: 80%;
        margin-left:7%;
    }
    .logo_allow{
        text-align: center;
        margin-right: 1rem;
    }
    .logo_disco{
       text-align: center;
       margin-right: 1rem;
    }
    .logo_off{
        text-align: center;
        margin-right: 1rem;
    }
    .nom_cam_allow{
        /* margin-left:4rem; */
        /* text-align: center; */
        width: 6rem;
    }
    .nom_cam_off{
        /* margin-left:3.5rem; */
        /* text-align: center; */
        width: 7.3rem;

    }
    .nom_cam_disco{
        /* margin-left:3.5rem; */
        /* text-align: center; */
        width: 3.5rem;
    }
    .cont {
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:flex-start;
        /* margin-top: 1rem;   */
    }
    .gene{
        margin-top: 1rem;
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
    } 
    .cadreCamera .oeil{
        /* margin-left: 4.5rem; */
    }
}
@media  (min-width :300px ) and (max-width: 400px) {
    .gene{
        width: 80%;
        margin-left:7%;
    }
    .logo_allow{
        text-align: center;
        margin-right: 1rem;
    }
    .logo_disco{
       text-align: center;
       margin-right: 1rem;
    }
    .logo_off{
        text-align: center;
        margin-right: 1rem;
    }
    .nom_cam_allow{
        /* margin-left:4rem; */
        /* text-align: center; */
        width: 6rem;
    }
    .nom_cam_off{
        /* margin-left:3.5rem; */
        /* text-align: center; */
        width: 7.3rem;

    }
    .nom_cam_disco{
        /* margin-left:3.5rem; */
        /* text-align: center; */
        width: 3.5rem;
    }
    .cont {
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:flex-start;
        /* margin-top: 1rem;   */
    }
    .gene{
        margin-top: 1rem;
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
    } 
    .cadreCamera .oeil{
        /* margin-left: 4.5rem; */
    }
}
@media  (min-width :200px ) and (max-width: 300px) {
    .gene{
        width: 80%;
        margin-left:7%;
    }
    .logo_allow{
        text-align: center;
        /* margin-right: 5px; */
    }
    .logo_disco{
       text-align: center;
    }
    .logo_off{
        text-align: center;
    }
    .nom_cam_allow{
        margin-left:3.5rem;
    }
    .nom_cam_off{
        /* margin-left:3.5rem; */
        text-align: center;

    }
    .nom_cam_disco{
        /* margin-left:3.5rem; */
        text-align: center;
    }
    .cont {
        display: flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content:flex-start;
        /* margin-top: 1rem;   */
    }
    .gene{
        margin-top: 1rem;
        display: flex;
        flex-direction:column;
        flex-wrap:wrap;
    } 
    .cadreCamera .oeil{
        margin-left: 4.5rem;
    }
}


