button.add-user {
    position: absolute;
    left: 43%;
    background-color: greenyellow;
    border: none;
    border-radius: 2rem;
    height: 3rem;
    font-size: calc(0.5em + 0.7vw);
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    top: 45%;
    cursor:pointer;
    font-weight: 600;
}

#layout-user .modal {
    font-size: 12px;
  }
#layout-user .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  @media only screen and (max-width: 600px) {
    button.add-user {
      background-color: chocolate;
      left : 27%;
      width: 40%;
      font-size: calc(0.5em + 1vw);
      font-weight: 600;
      min-width: 82px;
      top: 40%
    }
  }