:root {
    --validation : #45c160 ;
}


.errorMessagePassword {
    color:var(--error) ;
    font-size: 0.6rem;
}

.validationMessagePassword {
    color:var(--validation) ;
    font-size: 0.6rem;
}

.switch-dark-mode.form-switch .form-check-input:checked {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='yellow'/%3e%3c/svg%3e");
    background-color : black ;
}

.switch-dark-mode .form-switch .form-check-input {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='black'/%3e%3c/svg%3e");
    background-color : yellow ;
}

.switch-dark-mode .form-switch .form-check-input:checked:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='yellow'/%3e%3c/svg%3e");
    background-color : black ;
}
.switch-dark-mode .form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='black'/%3e%3c/svg%3e");
    background-color : yellow ;
}