:root {
    --validation : #45c160 ;
    --save-button : #cfc3b0 ;/*#f79436;*/
}


.errorMessageModify {
    color:var(--error) ;
    font-size: 0.6rem;
    margin-left:2.8rem!important;
}

.validationMessagePassword {
    color:var(--validation) ;
    font-size: 0.6rem;
}

.switch-dark-mode .form-switch .form-check-input:checked {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='yellow'/%3e%3c/svg%3e");
    background-color : black ;
}

.switch-dark-mode .form-switch .form-check-input {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='black'/%3e%3c/svg%3e");
    background-color : yellow ;
}

.switch-dark-mode .form-switch .form-check-input:checked:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='yellow'/%3e%3c/svg%3e");
    background-color : black ;
}
.switch-dark-mode .form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='black'/%3e%3c/svg%3e");
    background-color : yellow ;
}

.settings .form-control {
    font-size: 0.8rem !important;
}

/* #20b1ff - #2fe786 */
.switch-daltonism-mode .form-switch .form-check-input:checked {
    /* background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle id='cc'  r='3' fill='black'/></svg>"); */
    background-color : #2fe786 ;
}
#cc {
    background-color: purple!important;
    fill : red!important;
}

.switch-daltonism-mode .form-switch .form-check-input {
    /* background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='black'/%3e%3c/svg%3e"); */
    background-color : #20b1ff ;
}

.switch-daltonism-mode .form-switch .form-check-input:checked:focus {
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='yellow'/%3e%3c/svg%3e"); */
    background-color : #2fe786 ;
}
.switch-daltonism-mode .form-switch .form-check-input:focus {
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='black'/%3e%3c/svg%3e"); */
    background-color : #20b1ff ;
}

.settings .form-label {
    font-size:0.65rem!important;
    margin-bottom: 0rem;
    margin-left: 0.5rem;
}

.settings {
    margin-top: 7rem!important;
}

.daltonismCard {
    padding-right: 0rem!important;
    margin-bottom:0.25rem!important; 
    padding-left: 0.25rem!important;  
}
.underCardDal {
    padding: 0.5rem!important;
}
.darkCard {
    margin-bottom:0.25rem!important; 
    padding-right: 0.3rem!important;  
}
.underCardDark {
    padding: 0.5rem!important;
}

.save-button{
    background-color: var(--save-button);
    color:white;
}
.errorMessageNew{
    margin-left: 0rem!important;
}
.errorMessagePassword{
    margin-left: 0rem!important;
}