#gridPosition{
  display: grid;
  grid-template-columns: repeat(4,200px);
  grid-template-rows: repeat(4,100px);
}
#selectCam{
  font-size: 20px;
    font-family: 'Open Sans';
  background-color:#313535; 
  border-radius: 15px;
  grid-column:2/2;
  grid-row:2/2;
  text-align: center;
  color: #f1f3e9;
 height: fit-content;
}

#photo{
  height:fit-content;
  width: fit-content;
  /* background-color: #f3e7f0; */
  grid-column:4;
  grid-row:3/4;
  margin-left :30px; 
}
#video{
  height:fit-content;
  width: fit-content;
  /* background-color: #f3e7f0; */
  grid-column:4;
  grid-row:3/4;
  margin-left :30px; 
  margin-top: 35px;
}
#live{
  grid-column:2/4;
  grid-row:3/5;
}
#cercle{
		height: 10px; 
		width: 10px; 
		background-color:#26a70c;
		border: 5px #26a70c;
		border-radius: 50%; 
    grid-column:3;
    grid-row:2;
    margin-left: 5px;
    margin-top :5px;
    
} 