:root {
    --color1 : #B2DFDB ;
    --color2 : #F8BBD0 ;
    --color3 : #BBDEFB ;
    --bg-cadres : #BDBDBD;
    --camera-allow : #90E093 ;
    --camera-refuse : #FF6060 ;
}

.add-user:hover {
    color: #358539;
}

::-webkit-scrollbar {
	width: 6px; 
}
::-webkit-scrollbar-thumb {
	background: #b1acaa; 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { 
	background: #696969;
}
::-webkit-scrollbar-thumb:active {
	background: #2A2A2A;
}

#gradeModal .modal-body {
    padding: 1rem 5rem 1rem 5rem;
}

#gradeModal .m-2 {
    margin : 0.5rem 0.5rem 0.8rem 0.5rem!important;
}