:root {
    --color1 : #B2DFDB ;
    --color2 : #F8BBD0 ;
    --color3 : #BBDEFB ;
    --writing : #BDBDBD;
    --camera-allow : #90E093 ;
    --camera-refuse : #FF6060 ;
    --writing : #686868 ;
    --empty-color : #BDBDBD ;
}

body {
    color: var(--writing) ;
}

.add-user:hover {
    color: #358539;
}

::-webkit-scrollbar {
	width: 6px; 
}
::-webkit-scrollbar-thumb {
	background: #b1acaa; 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { 
	background: #696969;
}
::-webkit-scrollbar-thumb:active {
	background: #2A2A2A;
}

#gradeModal .modal-body {
    padding: 1rem 5rem 1rem 5rem;
}

#gradeModal .m-2 {
    margin : 0.5rem 0.5rem 0.8rem 0.5rem!important;
}

#name-grade-label {
    padding: 0px 5px 0px 5px!important;
}

#name-grade {
    padding: 3px 10.125px 3px 10.125px!important;
}

#color-grade-label {
    padding: 0px 5px 0px 5px!important;
}

#frame-colors {
    margin: 0px 5px 11px 5px!important;
    /* background-color:white; */
}

.frame-grade-label {
    border-bottom: 1px solid #959494;
    padding: 0px 0px 7px 0px!important;
}

.create-grade-button {
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}

#frame-name-grade-input {
    margin-top: 0.75rem!important;
}
